{% extends "base.html" %}
{% load static %}
{% block title %}Resume | Hunter Hawkins{% endblock %}
{% block og_title %}Resume | Hunter Hawkins{% endblock %}
{% block twitter_title %}Resume | Hunter Hawkins{% endblock %}

{% block content %}
<style>
.pdf-container {
  height: 100vh;
  width: 100vw;
}

</style>

<section class="bg-body py-1">
  <div class="text-center pdf-container">
    
    <div class="py-3 d-flex justify-content-center gap-3">
        <a class="btn btn-outline-dark btn-lg" href="{{ resume.document.url }}" target="_blank">
            <i class="bi bi-eye me-2"></i>Open in New Tab
        </a>
        <a class="btn btn-primary btn-lg" href="{{ resume.document.url }}" download>
            <i class="bi bi-download me-2"></i>Download
        </a>
    </div>
    <embed src="{{ resume.document.url }}" type="application/pdf" width="60%" height="90%" />

  </div>
</section>
{% endblock %}