{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
.pdf-container {
  height: 100vh;
  width: 100vw;
}

</style>

<section class="bg-body py-1">
  <div class="text-center pdf-container">
    
    <!-- Create a link to download/view the file -->
    <a href="{{ resume.document.url }}" target="_blank">
        View/Download File
    </a>
    <div class="mb-3"></div>
    <br>
    <embed src="{{ resume.document.url }}" type="application/pdf" width="60%" height="85%" />

  </div>
</section>
{% endblock %}